* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Lato', sans-serif;
}


/*-------header-------*/

header {
    background: #78D4BB;
    padding: 15px 0;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-top {
    float: right;
}

.menu-top ul li {
    display: inline-block;
}

.menu-top ul li a {
    color: #ffffff;
    padding-left: 10px;
}


/*--------banner perro-------*/

.slider {
    background: #5CCCAF;
}

.slider img {
    width: 110%;
    height: 350px;
}

.contenedor-perro img {
    max-width: 65%;
    margin: 0 auto;
    display: block;
}

.contenedor-perro {
    background-color: #5CCCAF;
}


/*---------contenedor-top-----------*/

.contenedor-top {
    background: #5CCCAF;
}

.banner-info {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.redes-sociales {
    display: flex;
    flex-direction: row;
}

.redes-sociales img {
    padding: 5px;
    border-radius: 50px;
    background-color: white;
    margin: 10px;
}


/*-------------rescate y crowfounding--------------*/

.contenedor {
    color: black;
    background-color: white;
    height: 400px;
    display: flex;
}

.contenedor .rescate p,
.crowfounding p {
    color: #5c5757;
    font-size: 11px;
}

.banner-contenido img {
    width: 50%;
    padding: 10px;
    background-color: white;
}

.contenedor {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.rescate {
    width: 48%;
    padding: 10px;
    text-align: right;
}

.crowfounding {
    width: 48%;
    padding: 10px;
    margin-bottom: auto;
    xx
}

.rescate h4,
.crowfounding h4 {
    color: #b1b1b1;
}

.boton-crow {
    margin: 20px 0px;
    padding: 10px 20px;
    border: solid 3px #000;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}


/*-----------galeria------------*/

.galeria {
    background-color: #5CCCAF;
    padding: 15px;
}

.grid {
    width: 96%;
    max-width: 1500px;
    margin: 24px auto;
}

.grid li {
    display: inline-block;
    padding: 8px;
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.grid li:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.grid a {
    color: #17f;
    text-decoration: none;
}

.grid h3 {
    font-weight: 600;
    padding: 8px 0;
}

.grid img {
    width: 100%;
    height: auto;
    display: block;
}

.grid ul {
    padding: 0;
    margin: 0;
}

.grid ul li {
    margin-bottom: 1em;
}


/*-----------footer------------*/

.footer {
    background: #9b9b9b;
    padding: 30px 0;
    text-align: center;
    font-family: calibri;
}


/*-----------responsibe----------*/

@media only screen and (max-width: 768px) {
    .cabezera {
        justify-content: space-around;
        flex-direction: column;
        padding: 0;
    }
    .banner-info h4,
    h3 {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .banner {
        display: flex;
        flex-direction: column;
        margin-block-end: 20px;
    }
    .menu-top li {
        width: 100%;
    }
    .menu-top li a {
        margin-top: 10px;
        display: block;
        justify-content: center;
        text-align: center;
        padding: 10px;
    }
    .contenedor {
        display: flex;
        flex-flow: row wrap;
        height: 500px;
    }
    .rescate {
        display: block;
    }
    .crowfounding {
        display: block;
    }
}

@media screen and (min-width: 568px) {
    .grid {
        column-width: 200px;
        column-count: 3;
        column-gap: 24px;
    }
}

@media only screen and (max-width: 500px) {
    .rescate {
        width: 80%;
        margin: auto;
    }
    .crowfounding {
        width: 80%;
        margin: auto;
    }
}